.app {
    margin: 0 auto 0 auto;
}

.contianer {
    max-width: 670px;
    margin: auto;
    text-align: center;
}

.logo h3 {
    font-family: 'Kanit', sans-serif;
    font-size: medium;
    font-weight: 600;
    font-size: 30px;
    margin: 10px 0;
}

.logo img {
    width: 100px;
    height: auto;
    margin-top: 15px;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: solid 1px #1d1f33;
}

.navigation .link {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: #1d1f33;
}